// this is the navigation engine
navigation(selected="{{ currPage }}")

aea-theme
    aea-menu2(menu="{{menu}}" debug="{{ menuDebug }}")
        icon-user
        span John DOE
        checkbox(checked="{{ menuDebug }}") Debug?

    aea-content
        +partial('header')
            p hi! this is header!

        +partial('body')
            page(landing-page="true" name="/r-table", curr="{{ currPage }}")
                include ./previews/r-table.pug
            page(name="/formal-field", curr="{{ currPage }}")
                include ./previews/formal-field.pug
            page(name="/csv-importer", curr="{{ currPage }}")
                include ./previews/csv-importer.pug
            page(name="/file-read", curr="{{ currPage }}")
                include ./previews/file-read.pug
            page(name="/print-button", curr="{{ currPage }}")
                include ./previews/print-button.pug
            page(name="/input-field", curr="{{ currPage }}")
                include ./previews/input-field.pug
            page(name="/checkbox", curr="{{ currPage }}")
                include ./previews/checkbox.pug
            page(name="/ack-button", curr="{{ currPage }}")
                include ./previews/ack-button.pug
            page(name="/example-component", curr="{{ currPage }}")
                include ./previews/example-component.pug
            page(name="/search-combobox", curr="{{ currPage }}")
                include ./previews/search-combobox.pug
            page(name="/date-picker", curr="{{ currPage }}")
                include ./previews/date-picker.pug
            page(name="/test-data-table/my-table", curr="{{ currPage }}")
                include ./previews/test-data-table/my-table.pug
            page(name="/todo", curr="{{ currPage }}")
                include ./previews/todo.pug

    aea-footer
        +partial('right')
            span aktos.io

        +partial('left')
            span showcase page
