// this is the navigation engine
navigation(selected="{{ currPage }}")

aea-theme
    aea-menu2(menu="{{menu}}" debug="{{ menuDebug }}")
        icon-user
        span {{ login.user.name }}
        checkbox(checked="{{ menuDebug }}") Debug?

    aea-content
        +partial('header')
            p hi! this is header!

        +partial('body')
            .row
                //- page(name="/ack-button", curr="{{ currPage }}")
                //-     include ./pages/ack-button/ack-button.pug
                page(name="/checkbox", curr="{{ currPage }}")
                    include ./pages/checkbox/checkbox.pug
                page(name="/csv-importer", curr="{{ currPage }}")
                    include ./pages/csv-importer/csv-importer.pug
                page(name="/date-picker", curr="{{ currPage }}")
                    include ./pages/date-picker/date-picker.pug
                //- page(name="/example-component", curr="{{ currPage }}")
                //-     include ./pages/example-component/example-component.pug
                page(name="/file-read", curr="{{ currPage }}")
                    include ./pages/file-read/file-read.pug
                //- TODO formal-field
                //- page(name="/input-field", curr="{{ currPage }}")
                //-     include ./pages/input-field/input-field.pug
                //- page(name="/print-button", curr="{{ currPage }}")
                //-     include ./pages/print-button/print-button.pug
                //- TODO r-table
                //- page(name="/search-combobox", curr="{{ currPage }}")
                //-     include ./pages/search-combobox/search-combobox.pug
                //- page(name="/test-data-table", curr="{{ currPage }}")
                //-     include ./pages/test-data-table/my-table.pug
                page(landing-page="true" name="/todo", curr="{{ currPage }}")
                    include ./pages/todo/todo.pug

    aea-footer
        +partial('right')
            span aktos.io

        +partial('left')
            span showcase page